@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: hsl(0, 0%, 37%);
  padding: 0px 5px;
}

#awesomebar-container {
  width: 80%;
  margin: 0 auto;
  height: 3.5em;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /* add a shadow that gives it a 3d effect */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

#awesomebar {
  margin-left: 1ex;
  border: solid 1px #999;
  border-radius: 5px;
  padding: 7px;
  min-width: 70%;
  background-color: rgba(255,255,255,0.5);
  white-space: pre;
}

#awesomebar:active {
  border: none;
}

#awesomebar-title {
  font-style:oblique;
}

.completion {
  color: #999;
}

.token-viz {
  /* background-color: lightgreen; */
  /* margin-left: 1ex; */
  padding: 5px;
  border-radius: 5px;
}

.when {
  background-color: khaki;
}

.duration {
  background-color: hsl(39, 100%, 65%);
}
.duration::before {
  content: "⏳";
}

.skeu-pressed {
  border-radius: 0px;
  background: #8ff0a4;
  box-shadow: inset 2px 2px 1px #396042,
              inset -2px -2px 1px #e5ffff;
  /* margin: 10px 5px; */
  padding: 5px 8px;
}

.skeu-concave {
  border-radius: 0px;
  background: linear-gradient(145deg, hsl(133, 53%, 58%), hsl(133, 100%, 80%));
  box-shadow:  2px 2px 1px #000000,
               -2px -2px 1px #e5ffff;
  /* margin: 10px 5px; */
  padding: 5px 8px;
}

.skeu-convex {
  border-radius: 0px;
  background: linear-gradient(145deg, hsl(133, 100%, 80%), hsl(133, 53%, 58%));
  box-shadow:  2px 2px 1px #000000,
               -2px -2px 1px #e5ffff;
  /* margin: 10px 5px; */
  padding: 5px 8px;
}

.capsule-left {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  padding-left: 10px;
}

.capsule-right {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding-right: 10px;
}

ol.checklist {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  /* elements are stacked vertically, gap of 15px between them, all the same width */
  flex-direction: column;
  gap: 15px;
  width: 350px;
  /* stretch the elements to full width */
  align-items: stretch;
}

li.checklist-item {
  /* flex-container with a gap of 8px between horizontal spaced elements */
  display: flex;
  gap: 2px;
  /* align items on the cross-axis in the center */
  align-items: center;
  min-width: 0; /* needed to make text ellipsis work */
}

li.checklist-item .description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

li.checklist-item .created {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar {
  border: solid 1px darkgrey;
  border-radius: 5px;
  padding: 5px;
}

.calendar .calendar-week {
  border-bottom: solid 1px black;
}

.calendar .calendar-day {
  padding: 3px;
  width: 3.8ex;
  height: 2.6ex;
  text-align: center;
  border-radius: 50%;
}

.calendar .calendar-day.past {
  color: lightgray;
}

.calendar .calendar-day.month-start {
  font-weight: bold;
  transform: rotate(45deg);
}

.calendar .calendar-day.public-holiday {
  background-color: pink;
}

.calendar .calendar-day.today {
  background-color: lightblue;
}

.calendar .calendar-day.weekend.past {
  color: lightgreen;
}
.calendar .calendar-day.weekend {
  color: darkgreen;
}

.calendar .calendar-day.highlight {
  background-color: yellow;
}

.calendar .calendar-day.highlight.weekend {
  background-color: lightgreen;
}

.calendar .calendar-day.highlight.today {
  background-color: orange;
}

.calendar .calendar-day.highlight.past {
  background-color: transparent;
}